{% extends 'layout.html'%}
{%block content%}

<!-- this the about page -->

<h1 id="rep">About</h1>
<div class="about">
  <!-- <img src="https://media1.giphy.com/media/TIY5OboTZcmxstvWoc/giphy.gif?cid=790b76111d2ca817fb559d921b768535f6fbc1d26c210d63&rid=giphy.gif&ct=g" alt=""> -->
  <img src="" alt="insert image">
  <p>Studying abroad is everyone's dream. Everyone wants to explore the world ,
     see new places , learn new cultures and styles of education.This application
     here specially brings you close to one such country that's the United States.
     This website here helps you to find that desired college you want to study in and
      helps you to write the exams required to get into the college of your liking. find
       out the answer to the question of studying in the United States with us.</p>
</div>
<div class="cc">
  <p>This application is non profitable,We don't owe anything, all content belongs to its rightful owners.Please contact us if you have any issues.</p>
  <p><strong>Email : vinaysrreddy007@gmail.com</strong></p>
</div>
{%endblock content%}
